version: '3'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: 'python3 manage.py runserver 0.0.0.0:8000'
    volumes:
        - .:/users
    ports:
        - 8000:8000